<div id="stock-lookup">
  <%= form_tag search_stocks_path, remote: true, method: :get, id: "search-stock-form" do %>
    <div class="ui fluid action input">
      <%= text_field_tag :stock, params[:stock], placeholder: 'Search stock ticket symbol', autofocus: true %> 
      <%= button_tag 'Search', class: 'ui teal button' %>
    </div>
  <% end %>
</div>