@import "semantic-ui";

.item{
  &-teal {
    color: #00B5AD !important;
  
    &:hover {
      background-color: #fff !important;
    }
  }

  &-red {
    color: rgb(255, 0, 0) !important;

    &:hover {
      background-color: #fff !important;
    }
  }

  &-main {
    font-size: 1.2rem;
    color: #fff !important;

    &:hover {
      background-color: #00B5AD !important;
    }
  }

  &-name {
    color: #fff !important;
    transition: all .2s !important;

    &:hover {
      color: #00B5AD !important;
    }
  }  
}

.bg-black {
  background-color: #000 !important;
}

.devise__link {
  color: #00B5AD !important;
  display: inline-block !important;
  margin-top: 15px !important;
}

.mb {
  &-sm {
    margin-bottom: 5px !important;
  }

  &-md {
    margin-bottom: 10px !important;
  }

  &-lg {
    margin-bottom: 20px !important;
  }
}

.mt {
  &-sm {
    margin-top: 5px !important;
  }

  &-md {
    margin-top: 10px !important;
  }

  &-lg {
    margin-top: 20px !important;
  }
}

.text {
  &__green {
    color: rgb(25, 190, 135);
  }

  &__red {
    color: rgb(255, 0, 0);
  }
}

.stock {
  &-logo {
    margin: 25px;
  }

  &__like {
    position: absolute;
    top: 4%;
    left: 2%;
  }
}

i.icon.news-icon {
  margin-right: 10px;
}

.text {
  &-right {
    text-align: right;
  }
}
